@model IEnumerable<Project_Databas.Models.KundkorgDetaljer>
@{
    ViewData["Title"] = "Kundkorg";
}

<h3>Kundkorg</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pr_Namn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prd_Namn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prd_Pris)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pr_Namn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prd_Namn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prd_Pris)
                </td>
            </tr>
        }
    <tbody>
</table>