@model Project_Databas.Models.ProfilDetaljer

@{
    ViewData["Title"] = "Detaljer";
}

<h3>Överblick - Min Profil</h3>


<div style=" float: left;">
    <div style=" width:100%;">
        @if (!string.IsNullOrEmpty(@ViewBag.picture))
        {

            <img src="@ViewBag.picture" style="width: 300px; height: 300px; float:left; margin-bottom: 50px; margin-right: 50px; border-radius: 50%; object-fit:cover" alt="bild" />
        }
    </div>
</div>

@*<p>Vill du ladda upp en ny profilbild? <a href="/Profil/Uppladdning">Ladda upp en bild här</a></p>
*@
<div>
    @Html.ActionLink("Ladda upp en bild här", "Uppladdning", new { Pr_Mail = Model.Pr_Mail, Pr_Losenord = Model.Pr_Losenord })
    <br/>
</div>


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Namn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Namn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Mail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Mail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Losenord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Losenord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Bor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Bor)
        </dd>
    </dl>
</div>
