@model Project_Databas.Models.ProfilDetaljer

@{
    ViewData["Title"] = "Detaljer";
}

<h3>Överblick - Min Profil</h3>

<p>Din profilbild:</p>

<div style=" float: left;">
    <div style=" width:100%;">
        @if (!string.IsNullOrEmpty(@ViewBag.picture))
        {

            <img src="@ViewBag.picture" style="width: 700px; float:left; margin-bottom: 50px; object-fit:cover" alt="bild" />
        }
    </div>
</div>

<p>Vill du ladda upp en ny profilbild? <a href="/Profil/Uppladdning">Ladda upp en bild här</a></p>


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Namn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Namn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Mail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Mail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Losenord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Losenord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Bor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Bor)
        </dd>
    </dl>
</div>
