@model Project_Databas.Models.ProfilDetaljer

@{
    ViewData["Title"] = "Min profil";
}

<h3>Min profil</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Namn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Namn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Mail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Mail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Losenord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Losenord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pr_Bor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr_Bor)
        </dd>
    </dl>
</div>



<div>
    @Html.ActionLink("Redigera", "Redigera", new { Pr_Mail = Model.Pr_Mail, Pr_Losenord = Model.Pr_Losenord })
</div>

@*
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Pr_Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Pr_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Pr_Id })
        </div>

    string Pr_Mail, string Pr_Losenord
*@




