@*@model Project_Databas.Models.ProduktDetaljer*@

@model IEnumerable<Project_Databas.Models.ProduktDetaljer>

@{
    ViewData["Title"] = "Shop";
}

<link rel="stylesheet" href="~/css/shop.css" asp-append-version="true" />

<h3>Shop</h3>

<div class="bild-container">
    <div class="item1">
        <img src="~/img/filt.jpeg" alt="filt.jpeg" width="250">
    </div>
    <div class="item2">
        <img src="~/img/förvaring.webp" alt="förvaring.webp" width="250">
    </div>
    <div class="item3">
        <img src="~/img/gryta.webp" alt="gryta.webp" width="250">
    </div>
    <div class="item4">
        <img src="~/img/kopp.webp" alt="kopp.webp" width="250">
    </div>
    <div class="item1_text">

        @foreach (var item in Model)
        {
            @if (item.Prd_Id == 3)
            {
                <strong>@Html.DisplayFor(modelItem => item.Prd_Namn)</strong>
                <p>@Html.DisplayFor(modelItem => item.Prd_Beskrivning)</p>
                <strong>@Html.DisplayFor(modelItem => item.Prd_Pris) kr</strong>

                <br />
                @Html.ActionLink("Visa mer", "Item", new { id = item.Prd_Id })
                <br />
                <br />
                <button type="button" onclick="location.href='@Url.Action("Cart", "Profil", new {id = item.Prd_Id})'">Lägg i kundkorgen</button>
                <br />
                <br />
            }
        }

    </div>
    <div class="item2_text">

        @foreach (var item in Model)
        {
            @if (item.Prd_Id == 4)
            {
                <strong>@Html.DisplayFor(modelItem => item.Prd_Namn)</strong>
                <p>@Html.DisplayFor(modelItem => item.Prd_Beskrivning)</p>
                <strong>@Html.DisplayFor(modelItem => item.Prd_Pris) kr</strong>

                <br />
                @Html.ActionLink("Visa mer", "Item", new { id = item.Prd_Id })
                <br />
                <br />
                <button type="button" onclick="location.href='@Url.Action("Cart", "Profil", new {id = item.Prd_Id})'">Lägg i kundkorgen</button>
                <br />
                <br />
            }
        }

    </div>
    <div class="item3_text">

        @foreach (var item in Model)
        {
            @if (item.Prd_Id == 5)
            {
                <strong>@Html.DisplayFor(modelItem => item.Prd_Namn)</strong>
                <p>@Html.DisplayFor(modelItem => item.Prd_Beskrivning)</p>
                <strong>@Html.DisplayFor(modelItem => item.Prd_Pris) kr</strong>

                <br />
                @Html.ActionLink("Visa mer", "Item", new { id = item.Prd_Id })
                <br />
                <br />
                <button type="button" onclick="location.href='@Url.Action("Cart", "Profil", new {id = item.Prd_Id})'">Lägg i kundkorgen</button>
                <br />
                <br />
            }
        }

    </div>
    <div class="item4_text">

        @foreach (var item in Model)
        {
            @if (item.Prd_Id == 6)
            {
                <strong>@Html.DisplayFor(modelItem => item.Prd_Namn)</strong>
                <p>@Html.DisplayFor(modelItem => item.Prd_Beskrivning)</p>
                <strong>@Html.DisplayFor(modelItem => item.Prd_Pris) kr</strong>

                <br/>
                @Html.ActionLink("Visa mer", "Item", new {id = item.Prd_Id})
                <br/>
                <br/>
                <button type="button" onclick="location.href='@Url.Action("Cart", "Profil", new {id = item.Prd_Id})'">Lägg i kundkorgen</button>
                <br/>
                <br/>
            }
        }
    </div>
    <div class="item5">
        <img src="~/img/ljus.webp" alt="ljus.webp" width="250">
    </div>
    <div class="item6">
        <img src="~/img/mortel.webp" alt="mortel.webp" width="250">
    </div>
    <div class="item7">
        <img src="~/img/kudde.webp" alt="mortel.webp" width="250">
    </div>
    <div class="item8">
        <img src="~/img/kruka.webp" alt="mortel.webp" width="250">
    </div>
    <div class="item5_text">

        @foreach (var item in Model)
        {
            @if (item.Prd_Id == 7)
            {
                <strong>@Html.DisplayFor(modelItem => item.Prd_Namn)</strong>
                <p>@Html.DisplayFor(modelItem => item.Prd_Beskrivning)</p>
                <strong>@Html.DisplayFor(modelItem => item.Prd_Pris) kr</strong>

                <br />
                @Html.ActionLink("Visa mer", "Item", new { id = item.Prd_Id })
                <br />
                <br />
                <button type="button" onclick="location.href='@Url.Action("Cart", "Profil", new {id = item.Prd_Id})'">Lägg i kundkorgen</button>
                <br />
                <br />
            }
        }

    </div>
    <div class="item6_text">

        @foreach (var item in Model)
        {
            @if (item.Prd_Id == 8)
            {
                <strong>@Html.DisplayFor(modelItem => item.Prd_Namn)</strong>
                <p>@Html.DisplayFor(modelItem => item.Prd_Beskrivning)</p>
                <strong>@Html.DisplayFor(modelItem => item.Prd_Pris) kr</strong>

                <br />
                @Html.ActionLink("Visa mer", "Item", new { id = item.Prd_Id })
                <br />
                <br />
                <button type="button" onclick="location.href='@Url.Action("Cart", "Profil", new {id = item.Prd_Id})'">Lägg i kundkorgen</button>
                <br />
                <br />
            }
        }

    </div>
    <div class="item7_text">

        @foreach (var item in Model)
        {
            @if (item.Prd_Id == 9)
            {
                <strong>@Html.DisplayFor(modelItem => item.Prd_Namn)</strong>
                <p>@Html.DisplayFor(modelItem => item.Prd_Beskrivning)</p>
                <strong>@Html.DisplayFor(modelItem => item.Prd_Pris) kr</strong>

                <br />
                @Html.ActionLink("Visa mer", "Item", new { id = item.Prd_Id })
                <br />
                <br />
                <button type="button" onclick="location.href='@Url.Action("Cart", "Profil", new {id = item.Prd_Id})'">Lägg i kundkorgen</button>
                <br />
                <br />
            }
        }

    </div>
    <div class="item8_text">

        @foreach (var item in Model)
        {
            @if (item.Prd_Id == 10)
            {
                <strong>@Html.DisplayFor(modelItem => item.Prd_Namn)</strong>
                <p>@Html.DisplayFor(modelItem => item.Prd_Beskrivning)</p>
                <strong>@Html.DisplayFor(modelItem => item.Prd_Pris) kr</strong>

                <br />
                @Html.ActionLink("Visa mer", "Item", new { id = item.Prd_Id })
                <br />
                <br />
                <button type="button" onclick="location.href='@Url.Action("Cart", "Profil", new {id = item.Prd_Id})'">Lägg i kundkorgen</button>
                <br />
                <br />
            }
        }
    </div>
</div>

